@model Actor

@{
    ViewData["Title"] = "AddActor";
    Layout = "~/Views/Shared/NavBar.cshtml";
}
<br />
<h2>Add New Actor</h2>
<br />

<hr />
<form asp-action="AddActor" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Bio" class="control-label"></label>
        <textarea asp-for="Bio" class="form-control"></textarea>
        <span asp-validation-for="Bio" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="ProfilePictrue" class="control-label"></label>
        <input asp-for="ProfilePictrue" class="form-control" type="file" />
        <span asp-validation-for="ProfilePictrue" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="News" class="control-label"></label>
        <textarea asp-for="News" class="form-control"></textarea>
        <span asp-validation-for="News" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="exampleSelect1" class="form-label mt-4">Movie select</label>
        <select name="SelectedMovies" class="form-control" multiple="multiple">

            @foreach (var item in ViewBag.Movies)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Add Actor" class="btn btn-primary" />
    </div>
    <br />

</form>
<br />
<div>
    <a asp-action="Actors" class="btn btn-secondary">Back to List</a>
</div>



